@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #576ce3;
  color: white;
}

.nav-link-item {
  position: relative;
  text-decoration: none;
}

.nav-link-item:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #F44749;
  transition: .5s;
}

.nav-link-item:after {
  left: 0;
  bottom: -10px;
}

.nav-link-item:hover:after {
  width: 100%;
}

.active {
  color: #F44749;
}

.card-wrapper {
  width: 50%;
}

.card-one {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  box-sizing: border-box;
  background-position: bottom;
  background-repeat: no-repeat;
}

.card-five {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-sizing: border-box;
  background-position: bottom;
  background-repeat: no-repeat;
}

.card-one::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/cefr-img.webp');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
  z-index: -1;

}

.card-two::before {
  background-image: url('./assets//news-img2.jpg');
  margin-top: 42px;
}

.card-three::before {
  background-image: url('./assets/news-img3.jpg');
  margin-top: 42px;
}

.card-four::before {
  background-image: url('./assets/news-img4.jpg');
  margin-top: 42px;
}

.card-five::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/news-img5.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
  z-index: -1;
}

.card-six::before {
  background-image: url('./assets/news-img6.jpg');
}

.card-seven::before {
  background-image: url('./assets/news-img7.jpg');
}

.card-eight::before {
  background-image: url('./assets/process-img.jpg');
}

.card-nine::before {
  background-image: url('./assets/raled-img.jpg');
  height: 600px;
}

.card-ten::before {
  background-image: url('./assets/training-img.jpg');
  height: 600px;
}

.card-one:hover {
  cursor: pointer;
}

.card-five:hover {
  cursor: pointer;
}

.card-one:hover::before {
  background-size: 120%;
}

.card-five:hover::before {
  background-size: 120%;
}

.card-content {
  margin-top: 65%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9));
  padding: 22px 15px;
}

.card-content2 {
  margin-top: 60%;
}

.card-content3 {
  margin-top: 52%;
}

.card-content4 {
  margin-top: 60%;
}

.card-content5 {
  margin-top: 61%;
}

.card-content6 {
  margin-top: 55%;
}


.scrolled {
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bodysection {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  background-image: url('../src/assets/bodyImg.jpg');
}

.partner-cart {
  position: relative;
  display: inline-block;
}

.partner-cart img {
  display: block;
  /* width: 100%; */
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.partner-cart:hover {
  cursor: pointer;
}

.partner-cart:hover img {
  filter: grayscale(0%);
  transition: all 0.3s;
}

.footer {
  background-image: url('./assets/footer-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  height: 400px;

}

.footer-content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
}

.overlay {
  max-width: 100vw;
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, var(--dark-color), transparent 200%);

}

.hero-video {
  background-size: cover;
  max-width: 100%;
  z-index: -1;
}

#bg-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content {
  /* position: absolute; */
  z-index: 2;
  color: white;
  text-align: center;
}

.about {
  background-image: url('./assets/about-header-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.about-bg-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.about-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 1));
  width: 100%;
  height: 80%;
}

.service {
  background-image: url('./assets//service-header-img.jpg');
  background-size: cover;
}

.projects {
  background-image: url('./assets/projects-header-img.jpg');
  background-size: cover;
}

.experts {
  background-image: url('./assets/experts-header-img.jpg');
  background-size: cover;
}

.carousel-item1 {
  background-image: url('./assets/header-img2.jpg');
  background-size: cover;
}

.carousel-item2 {
  background-image: url('./assets/header-img1.jpg');
  background-size: cover;
}

.carousel-item3 {
  background-image: url('./assets/header-img3.jpg');
  background-size: cover;
}

.carousel-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9));
  position: relative;
  z-index: 3;
}

.hero-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9));
  position: relative;
  z-index: 20;
  max-width: 100vw;
  width: 100%;
  height: 100px;
}

.service-card {
  box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.61);
}

.we-about {
  background-image: url('./assets/about-img1.jpg');
}

.our-goal {
  background-image: url('./assets/about-img2.jpg');
  background-size: cover;
  max-width: 100vw;
}

.our-goal-textBg {
  background-color: rgba(0, 0, 0, 0.5);
}

.about-card {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.about-img3BG {
  background-image: url('./assets/about-img3.jpg');
  background-size: cover;
  height: 635px;
  background-position: center;
}

.note-icon {
  background: #47ADE0;
}

.info-tab {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  top: -104px;
}

.info-tab {
  float: left;
  margin-left: -23px;
}

.note-icon i::before {
  background: #1d7ead;
}

.info-tab i::before {
  width: 20px;
  height: 20px;
  box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}

.info-tab i::before,
.info-tab i::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -15px;
  transform: rotateX(60deg);
}

.info-tab i::after {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  bottom: -18px;
}

.about-card1 {
  background-image: url('./assets/about-card-bg1.png');
  background-size: cover;
}

.disc-list {
  list-style-type: disc;
}

.about-card2 {
  background-image: url('./assets//about-card-bg2.png');
  background-size: cover;
}

.card-image {
  background-image: url('./assets/cardImg.jpg');
  background-size: cover;
  background-position: center;
}

.card-image2 {
  background-image: url('./assets/cardImg2.png');
  background-size: cover;
  background-position: center;
}

.card-image3 {
  background-image: url('./assets/cardImg3.jpg');
  background-size: cover;
  background-position: center;
}

.contact-img {
  background-image: url('./assets/contact-img.png');
  background-size: cover;
}

.collapse {
  visibility: visible;
}

.box {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid transparent;
}

.box::before {
  content: '';
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #246E89;
  border-bottom: 2px solid #246E89;
  border-left: 2px solid white;
  border-right: 2px solid white;
  box-sizing: border-box;
  transition: transform 0.6s ease;
  transform-origin: center;
  transform: rotate(-25deg);
}

.box:hover::before {
  transform: rotate(360deg);
  border-top: 0;
  border-bottom: 0;
  border-left: 2px solid #287C9A;
  border-right: 2px solid #287C9A;
}

.box:hover {
  border: 2px solid #246E89;
}

.border-css {
  border-color: #3B5998;
}

.modalBg {
  background: rgba(0, 0, 0, 0.7);
  z-index: 45;
}


/*media*/

/*home header*/

@media (max-width:1290px) {
  .hero-content {
    padding-bottom: 287px;
  }

  .hero-video {
    padding-top: 476px;
  }
}

@media (max-width:1265px) {
  .hero-content {
    padding: 74px 80px;
    gap: 50px;
  }

  .about-motto {
    font-size: 45px;
  }

}

@media (max-width:1255px) {
  .hero-video {
    padding-top: 468px;
  }
}

@media (max-width:1240px) {
  .hero-video {
    padding-top: 463px;
  }
}

@media (max-width:1210px) {
  .hero-video {
    .hero-video {
      padding-top: 454px;
    }
  }
}

@media (max-width:1184px) {
  .hero-video {
    padding-top: 453px;
  }

  .carousel {
    width: 598px;
  }

  .carousel-item1 {
    width: 598px;
  }

  .carousel-item2 {
    width: 598px;
  }

  .carousel-item3 {
    width: 598px;
  }

  .btn1 {
    margin-left: 478px;
  }

  .btn2 {
    margin-right: 0;
  }

  .carousel-shadow {
    width: 598px;
  }
}

@media (max-width:1174px) {
  .hero-content {
    flex-direction: column;
    gap: 15px;

  }

  .hero-video {
    padding-top: 435px;
  }

  .about-motto {
    padding: 10px 150px 0;
  }
}

@media (max-width:1127px) {
  .about-motto {
    font-size: 36px;
  }

  .about-motto {
    padding: 53px 130px 0;
  }
}

@media (max-width:1081px) {
  .hero-video {
    padding-top: 420px;
  }

  .about-motto {
    padding: 64px 106px 0;
  }
}

@media (max-width:1055px) {
  .about-motto {
    padding: 98px 106px 0;
  }
}

@media (max-width:1043px) {
  .about-motto {
    padding: 106px 87px 0;
  }

  .hero-video {
    padding-top: 410px;
  }
}

@media (max-width:1015px) {
  .hero-video {
    padding-top: 400px;
  }

  .about-motto {
    padding: 130px 87px 0;
  }
}

@media (max-width:995px) {
  .about-motto {
    padding: 137px 100px 0;
    font-size: 30px;
  }

  .hero-video {
    padding-top: 395px;
  }
}

@media (max-width:983px) {
  .carousel {
    width: 472px;
  }

  .carousel-item1 {
    background-size: contain;
    width: 472px;
    background-repeat: no-repeat;
  }

  .carousel-item2 {
    background-size: contain;
    width: 472px;
    background-repeat: no-repeat;
  }

  .carousel-item3 {
    background-size: contain;
    width: 472px;
    background-repeat: no-repeat;
  }

  .carousel-shadow {
    width: 472px;
    margin-top: -205px
  }

  .item1-text {
    padding-bottom: 9rem;
  }

  .item2-text {
    padding-bottom: 141px;
    font-size: 24px;
  }

  .item3-text {
    font-size: 24px;
  }

  .btn2 {
    margin-top: 255px;
    margin-right: 0;
  }

  .btn1 {
    margin-left: 352px;
    margin-top: 255px;
  }

  .about-motto {
    padding: 198px 100px 0;
  }
}

@media (max-width:950px) {
  .hero-video {
    padding-top: 371px;
  }

  .about-motto {
    padding: 198px 73px 0;
  }
}

@media (max-width:917px) {
  .about-motto {
    padding: 244px 62px 0;
  }
}

@media (max-width:851px) {
  .about-motto {
    padding: 281px 27px 0;
  }

  .hero-video {
    padding-top: 352px;
  }
}

@media (max-width:805px) {
  .about-motto {
    padding: 302px 4px 0;
  }

  .hero-video {
    padding-top: 341px;
  }
}

@media (max-width:783px) {
  .hero-content {
    align-items: start;
  }

  .about-motto {
    font-size: 25px;
    padding: 321px 0px 0;
  }
}

@media (max-width:760px) {
  .about-motto {
    padding: 339px 0px 0;
  }

  .hero-video {
    padding-top: 328px;
  }
}

@media (max-width:753px) {

  .about-motto {
    padding: 345px 0px 0;
  }

  .hero-video {
    padding-top: 325px;
  }
}

@media (max-width:730px) {
  .about-motto {
    padding: 356px 0px 0;
  }

  .hero-content {
    gap: 7px;
  }
}

@media (max-width:719px) {
  .hero-video {
    padding-top: 317px;
  }

  .about-motto {
    padding: 362px 0px 0;
  }

}

@media (max-width:706px) {
  .carousel {
    width: 355px;
  }

  .carousel-item1 {
    width: 355px;
  }

  .carousel-item2 {
    width: 355px;
  }

  .carousel-item3 {
    width: 355px;
  }

  .item1-text {
    font-size: 20px;
    padding-bottom: 14rem;
  }

  .carousel-shadow {
    width: 355px;
    margin-top: -283px;
  }

  .btn2 {
    margin-top: 183px;
    margin-right: 0px;
    width: 54px;
    height: 54px;
  }

  .btn1 {
    margin-left: 247px;
    margin-top: 183px;
    width: 54px;
    height: 54px;
  }

  .hero-content {
    padding: 74px 105px;
  }

  .about-motto {
    padding: 414px 0px 0;
  }
}

@media (max-width:647px) {
  .about-motto {
    padding: 429px 0px 0;
  }

  .hero-content {
    padding: 74px 67px;
  }
}

@media (max-width:627px) {
  .about-motto {
    padding: 458px 0px 0;
  }

  .hero-video {
    padding-top: 290px;
  }
}

@media (max-width:605px) {
  .carousel {
    visibility: hidden;
  }

  .carousel-shadow {
    visibility: hidden;
  }

  .about-motto {
    font-size: 30px;
    padding: 580px 0px 0;
  }
}


@media (max-width:560px) {
  .hero-video {
    padding-top: 272px;
  }
}

@media (max-width:565px) {
  .hero-video {
    padding-top: 244px;
  }
}

@media (max-width:480px) {
  .hero-video {
    padding-top: 221px;
  }

  .about-motto {
    padding: 620px 0px 0;
  }
}

@media(max-width:425px) {
  .hero-video {
    padding-top: 206px;
  }
}

@media (max-width:410px) {
  .about-motto {
    font-size: 25px;
    padding: 667px 0px 0;
  }

  .hero-video {
    padding-top: 183px;
  }
}

@media (max-width:370px) {
  .about-motto {
    font-size: 20px;
    padding: 696px 0px 0;
  }

  .hero-video {
    padding-top: 185px;
  }
}

/* navbar */
.responsiveMenu {
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 300px;
  box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.61);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.menuBar-mobile {
  display: none;
}

.openMenu {
  display: flex;
  align-items: start;
  transform: translateX(0);
  transition: all linear 0.5s;
}

.closeMenu {
  display: flex;
  align-items: start;
  transform: translateX(-900px);
  transition: all linear 0.8s;
}

@media (max-width:1080px) {
  .nav-link-mobile {
    display: none;
  }

  .language-mobile {
    display: none;
  }

  .menuBar-mobile {
    display: block;
  }

  .nav-mobile {
    padding: 0 200px;
  }

}

@media (max-width:866px) {
  .nav-mobile {
    padding: 0 100px;
  }
}

@media (max-width:566px) {
  .nav-mobile {
    padding: 0 50px;
  }

  .logo-img {
    width: 85px;
  }

  nav {
    height: 90px !important;
  }
}

@media (max-width:415px) {
  .nav-mobile {
    padding: 0 10px;
  }
}

/* news and events */

@media(max-width:1265px) {
  .news-and-events {
    margin-top: 137px;
  }
}

@media (max-width:1174px) {
  .news-and-events {
    margin-top: -20px;
  }
}

@media (max-width:1127px) {
  .news-and-events {
    margin-top: 15px;
  }
}

@media (max-width:605px) {
  .news-and-events {
    margin-top: -192px;
  }

  .news-text {
    font-size: 44px;
  }
}

@media (max-width:457px) {
  .news-and-events {
    margin-top: -232px;
  }
}

@media (max-width:380px) {
  .news-and-events {
    font-size: 35px;
    margin-top: -260px;
  }
}

@media (max-width:1285px) {
  .news-cards {
    gap: 15px !important;
  }
}

@media (max-width:1258px) {

  /* .card-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9));
    padding: 54px;
  }
  .card-one::before{
    height: 116%;
  } */
  .card-content {
    background: transparent;
  }

  .card-content-text {
    color: #F0ECDE;
  }
}

@media (max-width:1000px) {
  .news-cards {
    margin-top: -4rem !important;
  }
}

@media (max-width:862px) {
  .card-one {
    height: 450px;
  }

  .news-text {
    font-size: 48px;
  }

  .human-capital-text {
    font-size: 40px;
  }

  .our-project-text {
    font-size: 48px !important;
  }
}

@media (max-width:820px) {
  .news-cards {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .card-two {
    margin-top: -194px;
  }

  .card-three {
    margin-top: -78px;
  }

  .card-four {
    margin-top: -156px;
  }

  .card-content-text {
    font-size: 18px !important;
    line-height: 25px;
  }
}

@media (max-width:700px) {
  .news-text {
    font-size: 40px;
  }

  .card-two {
    margin-top: -245px;
  }

  .card-three {
    margin-top: -125px;
  }

  .card-four {
    margin-top: -201px;
  }

}

@media (max-width:666px) {
  .card-wrapper {
    width: 85%;
  }

  .card-two {
    margin-top: -104px;
  }

  .card-three {
    margin-top: 11px;
  }

  .card-four {
    margin-top: -66px;
    margin-bottom: 96px;
  }
}



@media (max-width:515px) {
  .card-two {
    margin-top: -180px;
  }

  .card-three {
    margin-top: -69px;
  }

  .card-four {
    margin-top: -151px;
    margin-bottom: 38px;
  }

  .human-capital-text {
    font-size: 35px;
  }

  .human-capital-desc {
    font-size: 18px;
  }

  .our-project-text {
    font-size: 38px !important;
  }
}

@media (max-width:381px) {
  .card-content-text2 {
    font-size: 12px;
  }
}

/* our projects */

@media (max-width:1000px) {
  .our-projects-dsc {
    font-size: 20px;
  }
}

@media (max-width:900px) {
  .our-project-cards {
    flex-direction: column;
    align-items: center;
  }

  .card-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .our-project-cards2 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .card-eight,
  .card-ten {
    margin-top: -130px;
    margin-bottom: -56px;
  }

  .card-nine {
    margin-top: -130px;
    margin-bottom: -1px;
  }
}

@media (max-width:666px) {
  .card-eight {
    margin-top: -60px;
  }
}

@media(max-width:415px) {
  .card-nine {
    margin-top: -202px;
    margin-bottom: -64px;
  }

  .card-content5 {
    margin-top: 73%;
  }

  .card-content6 {
    margin-top: 88%;
  }
}

/* footer our partners*/
.deepen {
  padding: 85px 3rem;
}

@media (max-width:1290px) {
  .deepen {
    padding: 83px 3rem;
  }
}

@media (max-width:1250px) {
  .footer-partners {
    gap: 15px;
  }
}

@media (max-width:1220px) {
  .deepen {
    padding: 80px 3rem;
  }
}

@media (max-width:1135px) {
  .deepen {
    padding: 75px 3rem;
  }
}

@media (max-width:1090px) {
  .deepen {
    padding: 72px 3rem;
  }
}

@media (max-width:1070px) {
  .footer-partners {
    flex-direction: column;
  }

  .deepen {
    padding: 87px 3rem;
  }
}

@media (max-width:680px) {
  .footer-partners {
    gap: 10px !important;
  }

  .internal-footer-partners {
    gap: 10px !important;
  }
}

@media (max-width:640px) {
  .internal-footer-partners {
    flex-direction: column;
  }

  .our-partners-title {
    font-size: 48px;
  }
}

@media (max-width:400px) {
  .our-partners-title {
    font-size: 40px;
  }
}

/* footer */
@media (max-width:950px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer {
    height: 655px;
  }

  .overlay {
    height: 100%;
  }

  .footer-title {
    text-align: center;
  }

  .footer-link {
    text-align: center;
    padding: 10px 0;
  }

  .footer-network {
    justify-content: center;
    padding: 10px 0;
  }

  .mahorat-text {
    text-align: center;
    padding: 0px !important;
  }
}

@media (max-width:500px) {
  .footer {
    height: 685px;
  }
}

@media (max-width:455px) {
  .carousel {
    display: none;
  }

  .news-and-events {
    margin-top: -2px;
  }

  body {
    overflow-x: hidden;
  }
}

@media (max-width:400px) {
  .footer {
    height: 718px;
  }
}

/* about page */

/* header */

@media (max-width:750px) {
  .about-title {
    font-size: 48px;
  }

  .about-text {
    font-size: 17px;
  }

  .about-content-title {
    font-size: 48px;
  }
}

/* who we are */

@media (max-width:995px) {
  .about-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content {
    width: 80%;
  }

  .our-goal-textBg {
    padding: 37px;
  }

  .our-goal-text {
    font-size: 20px;
  }
}

@media (max-width:800px) {
  .about-content {
    width: 90%;
  }

  .about-content-img {
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 400px;
  }
}

@media (max-width:700px) {
  .about-content {
    width: 100%;
  }
}

@media (max-width:600px) {
  .about-content-text {
    font-size: 18px;
  }

  .about-content-img {
    min-height: 357px;
  }

  .our-goal-text {
    font-size: 18px;
  }

  .our-goal-textBg {
    width: 100%;
  }
}

@media (max-width:530px) {
  .about-content-img {
    min-height: 309px;
  }
}

@media (max-width:500px) {
  .about-title {
    font-size: 40px;
  }

  .about-text {
    font-size: 15px;
  }

  .about-content-title {
    font-size: 40px;
  }
}

@media (max-width:470px) {
  .about-content-img {
    min-height: 270px;
  }
}

@media (max-width:410px) {
  .about-content-img {
    min-height: 235px;
  }
}

@media (max-width:375px) {
  .about-content-img {
    min-height: 212px;
  }

  .our-goal-text {
    font-size: 16px;
  }
}

@media (max-width:340px) {
  .about-content-img {
    min-height: 184px;
  }

  .about-content-text {
    font-size: 16px;
  }
}

@media (max-width:1200px) {
  .our-goal-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* our plan */

@media (max-width:1290px) {
  .our-plan {
    padding: 0 30px;
  }

  .plan-big-card {
    padding: 29px;
  }
}

@media (max-width:1285px) {
  .plan-big-card {
    padding: 20px;
  }
}

@media (max-width:1250px) {
  .plan-big-card {
    padding: 15px;
  }
}

@media (max-width:1230px) {
  .plan-big-card {
    padding: 13px;
  }
}

@media (max-width:1222px) {
  .plan-big-card {
    padding: 8px;
  }
}

@media (max-width:1200px) {
  .plan-cards {
    flex-direction: column;
  }

  .about-card1,
  .about-card2 {
    width: 100%;
  }
}

@media (max-width:995px) {
  .our-plan-content {
    flex-direction: column;
  }

  .info-tab {
    top: -134px;
  }

  .about-img3BG {
    width: 90%;
  }

  .our-plan {
    padding: 0;
  }

  .plan-main-title {
    font-size: 48px;
  }

  .plan-text {
    font-size: 20px;
  }
}

@media (max-width:860px) {
  .info-tab {
    top: -156px;
  }

  .note-icon1 {
    top: -182px;
  }
}

@media (max-width:730px) {
  .our-plan-internal-content {
    width: 90%;
  }

  .info-tab {
    top: -125px;
  }

  .note-icon1 {
    top: -130px;
  }
}

@media (max-width:540px) {
  .our-plan-p {
    font-size: 15px;
  }

  .info-tab {
    top: -154px;
  }

  .note-icon1 {
    top: -154px;
  }

  .note-icon4 {
    top: -137px;
  }

  .plan-main-title {
    font-size: 40px;
  }

  .plan-text {
    font-size: 18px;
  }
}

@media (max-width:440px) {
  .note-icon1 {
    top: -180px;
  }
}

@media (max-width:370px) {
  .info-tab {
    top: -199px;
  }

  .note-icon1 {
    top: -219px;
  }
}

/* Services page */

@media (max-width:1200px) {
  .services-cards {
    flex-direction: column;
  }

  .service-card {
    width: 80%;
  }
}

@media (max-width:700px) {
  .service-card {
    width: 90%;
  }
}

@media (max-width:640px) {
  .service-card-title {
    font-size: 24px;
  }

  .service-card-text {
    font-size: 17px;
  }

  .service-card-img {
    width: 110px;
    height: 110px;
  }
}

@media (max-width:500px) {
  .service-card {
    width: 100%;
  }
}

@media (max-width:400px) {
  .service-card-title {
    font-size: 20px;
  }

  .service-card-text {
    font-size: 15px;
  }

  .service-card-img {
    width: 100px;
    height: 100px;
  }
}

/* projects page */

@media (max-width:1000px){
  .accordion-content{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:950px){
  .accordion-navigation-text{
    font-size: 20px;
  }
}

@media (max-width:700px) {
  .projects-text1 {
    font-size: 17px;
  }
}

@media (max-width:560px) {
  .projects-text-wrapper {
    flex-direction: column;
    gap: 14px !important;
  }
  .accordion-content-text{
    font-size: 17px;
  }
  .accordion-navigation-text{
    font-size: 18px;
  }
}

/* experts page  */

@media (max-width:1050px){
  .experts-wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media (max-width:600px){
  .experts-wrapper{
    flex-direction: column;
    align-items: center;
  }
    .expert-card {
      width: 80%;
    }
}

/* contact page  */

@media (max-width:845px){
  .contact-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contact-item{
    width: 80%;
  }

  .form-img-wrapper{
    flex-direction: column;
    justify-content: center;
  }
  .contact-img{
    width: 85%;
  }
  .form-wrapper{
    width: 85%;
  }

}

@media (max-width:500px){
  .two-inputs{
    flex-direction: column;
    gap: 8px !important;
  }
  .one-input{
    width: 100%;
  }
  .twice-input{
    width: 100%;
    padding-top:0px !important ;
  }
  .contact-img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 300px; */
  }
  .form-title{
    font-size: 35px;
  }
  .form-wrapper{
    padding: 15px 20px !important;
    border-radius: 10px;
  }
  .location{
    padding-top: 0px !important;
  }
}

@media (max-width:395px){
  .contact-title{
    font-size: 28px;
  }
}

/* apply modal  */
@media (max-width:800px){
  .inputs-wrapper{
    flex-direction: column;
    gap: 1px !important;
  }
  .modal-input1{
    width: 100%;
  }
}

@media (max-width:500px){
  .modal-title{
    font-size: 34px;
  }
  .modal-dsc{
    font-size: 18px;
    padding:10px 0 !important;
  }
  .apply-modal{
    padding: 5px 15px !important;
  }
}

@media (max-width:415px){
  .apply-modal-btn{
    padding: 5px 10px !important;
  }
}